
body {

    

}

.principal {

    background: #CCCCCC;
    padding: 30px;

}

#banner {

    width: 100%;
}

h1 {

    text-align: center; background: #CCCCCC;

}


p {
    text-align: center;
    
}

#missao {

    font-size: 20px

}

em strong {


    color: red

}

.itens {

    font-style: italic
}

.beneficios {

    background: #FFFFFF;
    padding: 20px;

}

h2 {

    text-align: center;
}

ul {

    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}
.imagembeneficios {

    width: 50%;
}
