
body {

    background: #CCCCCC;

}

#banner {

    width: 100%;
}

h1 {

    text-align: center; background: #CCCCCC;

}


p {
    text-align: center;
    
}

#missao {

    font-size: 20px

}

em strong {


    color: red;

}