
body {

    

}

.principal {

    background: #CCCCCC;

}

#banner {

    width: 100%;
}

h1 {

    text-align: center; background: #CCCCCC;

}


p {
    text-align: center;
    
}

#missao {

    font-size: 20px

}

em strong {


    color: red

}

.itens {

    font-style: italic
}

.beneficios {

    background: #FFFFFF;

}

h2 {

    text-align: center;
}